@import '../../Sass/variables.scss';
@import '../../Sass/reset';
.App {
  height: 100vh;
  width: 100vw;
  background-image: url("./Assets/memphis-colorful.png");
  background-repeat: repeat;
  box-sizing: border-box;
  text-align: center;
}
